<form (ngSubmit)="createCelular()">
  <input [(ngModel)]="celular.marca" placeholder="Marca" name="marca" required>
  <input [(ngModel)]="celular.serial" placeholder="Serial" name="serial" required>
  <input [(ngModel)]="celular.fechaCompra" placeholder="Fecha de Compra" name="fechaCompra" type="date" required>
  <input [(ngModel)]="celular.anoLanzamiento" placeholder="Año de Lanzamiento" name="anoLanzamiento" type="number" required>
  <input [(ngModel)]="celular.precio" placeholder="Precio" name="precio" type="number" required>
  <input [(ngModel)]="celular.sistemaOperativo" placeholder="Sistema Operativo" name="sistemaOperativo" required>
  <input [(ngModel)]="celular.gama" placeholder="Gama" name="gama" required>
  <button type="submit">Crear Celular</button>
</form>
