<h1>Update Celular</h1>
<form *ngIf="celular" (ngSubmit)="updateCelular()">
  <label>Marca:
    <input [(ngModel)]="celular.marca" name="marca" required>
  </label>
  <label>Serial:
    <input [(ngModel)]="celular.serial" name="serial" required>
  </label>
  <label>Fecha de Compra:
    <input [(ngModel)]="celular.fechaCompra" name="fechaCompra" type="date" required>
  </label>
  <label>Año de Lanzamiento:
    <input [(ngModel)]="celular.anoLanzamiento" name="anoLanzamiento" type="number" required>
  </label>
  <label>Precio:
    <input [(ngModel)]="celular.precio" name="precio" type="number" required>
  </label>
  <label>Sistema Operativo:
    <input [(ngModel)]="celular.sistemaOperativo" name="sistemaOperativo" required>
  </label>
  <label>Gama:
    <input [(ngModel)]="celular.gama" name="gama" required>
  </label>
  <button type="submit">Actualizar</button>
</form>
