<form (ngSubmit)="getCelular()">
  <input [(ngModel)]="id" placeholder="ID del Celular" name="id" type="number" required>
  <button type="submit">Obtener Celular</button>
</form>
<div *ngIf="celular">
  <p>ID: {{celular.id}}</p>
  <p>Marca: {{celular.marca}}</p>
  <p>Serial: {{celular.serial}}</p>
  <p>Fecha de Compra: {{celular.fechaCompra}}</p>
  <p>Año de Lanzamiento: {{celular.anoLanzamiento}}</p>
  <p>Precio: {{celular.precio}}</p>
  <p>Sistema Operativo: {{celular.sistemaOperativo}}</p>
  <p>Gama: {{celular.gama}}</p>
</div>
